body{
  background-color: white !important;
}
.title{
  color: black;
}
input{
  color: black;
}
input:focus {
  outline: none;
}
.darkTheme{
  color: black;
}
.lightTheme{
  color: white;
}
.card{
  background-color: #282c34 !important;
}
.form-floating>label{
  color: black;
}

.navbar-nav .nav-link {
 padding-left: 2rem !important; 
 padding-right: 2rem !important; 
}

.bodyContainer .container{
  padding: 100px;
}


