body {
  /* background-color: white !important; */
  background: linear-gradient(-45deg, #3c3c3c 20% 10%, #96ceb4 80%) !important;
  height: 100vh;
}
.title {
  color: black;
}
input {
  color: black;
}
input:focus {
  outline: none;
}
.darkTheme {
  color: black;
}
.lightTheme {
  color: white;
}
.card {
  background-color: #282c34 !important;
}
.form-floating > label {
  color: black;
}

.navbar-nav .nav-link {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  color: black !important
}

.navbar-nav .nav-link:hover {
  color: white !important

}


.main-footer{
  opacity: 0.7;
  color: white;
  background: black;
}

.bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.circle {
  height: 80px;
  width: 80px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle:hover{
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  transform: scale(1.05,1.05);
  transition: all 0.2s;
}

#circleDouble Span:last-child {
  margin-left: 0.5rem;
}

#icons {
  position: absolute;
}

.box {
  background-color: rgba(219, 208, 208, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 100vh;
}
